body {
  background-image: url(/IMAGES/BackGroundTWO.jpg);
  background-size: 200vh;
}
.wtf img {
  position: absolute;
  display: inline-block;
  width: 161px;
  margin-left: 211px;
  margin-top: 56px;
}
h1 {
  position: absolute;
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.maintext {
  position: absolute;
  display: inline-block;
  width: 470px;
  height: 167px;
  margin-left: 207px;
  margin-top: 126px;
}
.ptext {
  position: absolute;
  display: inline-block;
  width: 430px;
  height: 30px;
  margin-left: 211px;
  margin-top: 336px;
  font-family: "Raleaway", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.ctatext {
  position: absolute;
  display: inline-block;
  width: 93px;
  height: 30px;
  margin-left: 211px;
  margin-top: 410px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
nav {
  width: 240px;
  margin-top: 92px;
  display: inline-block;
}
.CTAig {
  position: absolute;
  width: 62px;
  height: 30px;
  margin-left: 207px;
  margin-top: 480px;
  display: inline-block;
  transition: transform 0.5s;
}
.CTAig:hover {
  transform: scale(1.1);
}
.facebook {
  position: absolute;
  display: inline-block;
  width: 62px;
  height: 30px;
  margin-left: 290px;
  margin-top: 480px;
  transition: transform 0.5s;
}
.facebook:hover {
  transform: scale(1.1);
}
.email {
  position: absolute;
  width: 62px;
  height: 30px;
  margin-left: 370px;
  margin-top: 480px;
  display: inline-block;
  transition: transform 0.5s;
}
.email:hover {
  transform: scale(1.1);
}
.profile img {
  position: absolute;
  width: 400px;
  display: inline-block;
  margin-left: 810px;
  margin-top: 193px;
}
@media screen and (max-width: 1920px) {
  body {
    margin-left: 246px;
    margin-top: 130px;
  }
}
@media screen and (max-width: 1600px) {
  body {
    margin-left: 90px;
    margin-top: 40px;
  }
}
@media screen and (max-width: 1536px) {
  body {
    margin-left: 56px;
    margin-top: 26px;
  }
}
@media screen and (max-width: 1440px){
  body {
    margin-left: 8px;
    margin-top: 2px;
  }
}
@media screen and (max-width: 1366px) {
  body {
    margin-left: -30px;
    margin-top: -10px;
  }
}
@media screen and (max-width: 390px) {
  .wtf img {
    position: absolute;
    display: inline-block;
    width: 100px;
    align-items: center;
    margin-left: 150px;
    margin-top: 40px;
  }
  h1 {
    font-size: 36px;
  }
  .maintext {
    position: absolute;
    display: inline-block;
    width: 300px;
    height: 100px;
    margin-left: 60px;
    margin-top: 120px;
  }
  .ptext {
    position: absolute;
    width: 280px;
    font-size: 16px;
    margin-left: 60px;
    margin-top: 225px;

  }
  .CTAig img{
    position: absolute;
    width: 40px;
    display: inline-block;
  }
  .facebook img{
position: absolute;
width: 40px;
display: inline-block;
margin-left: -25px;
  }
  .email img{
    position: absolute;
    width: 40px;
    display: inline-block;
    margin-left: -48px;
  }
  .ctatext {
    position: absolute;
  display: inline-block;
  margin-top: 420px;
  }
  nav {
  position: absolute;
   width: 230px ; 
  height: 100px;
  margin-top: 220px;
  margin-left: -125px;
  display: inline-block;
}
.profile img {
  position: absolute;
  width: 200px;
  display: inline-block;
  margin-left: 120px;
  margin-top: 370px;
}
}